/*navbar start now*/
/*home page start now*/
.topnav {
    overflow: hidden;
    width: 100%;
    background-color:#ffffff;
}
.topnav a {
    float: left;
    display: block;
    color: #353535;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
}
.active {
    color: #ffffff;
}
.topnav .icon {
    display: none;
}
.dropdown-navbar {
    float: left;
    overflow: hidden;
}
.dropdown-navbar .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: #353535;
    padding: 14px 16px;
    background-color: inherit;
    font-weight: 600;
    margin: 0;   
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e1e3ea;;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color:#353535;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.topnav a:hover, .dropdown-navbar:hover .dropbtn {
    color: #ff4934;
}
.dropdown-content a:focus {
    background-color:transparent;
    color: white;
}
@media screen and (max-width:992px) {
    .topnav a:not(:first-child), .dropdown-navbar .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .dropdown-content a{
        border-bottom:1px solid #ffffff;
        margin-left: 25px;
    }
    .dropdown-content a:last-child{
        border-style: none;
    }

}
@media screen and (max-width:992px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .talks-btn{
        float: none;
        display: none;
        text-align: left;
    }
    .topnav.responsive .dropdown-navbar {
        float: none;
    }
    .topnav.responsive .dropdown-content  {
        position: relative;
    }
    .topnav.responsive .dropdown-navbar .dropbtn{
        display: block;
        width: 100%;
        text-align: left;
    }
    .topnav .imgbox{
        position: relative;
        display: none;
    }
    .topnav .imgbox img{
        position: absolute;
        display: none;
        
    }
    .topnav .btn-area{
        display: block;
    }
    .topnav .btn-area .call-btns{
        display: none;

    }
    .topnav .btn-area .call-us{
        display: none;
    }
   
}
@media(min-width: 992px){
    .dropdown-navbar:hover .dropdown-content{
        display: block;
    }
}
@media only screen and (min-width:992px) and (max-width:1100px){
    .topnav {
        overflow: hidden;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left:20%;
        background-color:#ffffff;

    }
    .topnav .imgbox{
        position: relative;
        
    }
    .dropdown-content{
        display: none;
        position: absolute;
        top:140px;
        background-color: #e1e3ea;;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1
    }
    .topnav .imgbox img{
        position: absolute;
        left:-342px;
        top:-20px;
    }
    .topnav .imgbox .toko-text{
        position: absolute;
        font-weight:bold;
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        color:#353535;
        left:-288px;
        top:-20px;
    }
    .topnav .btn-area{
        position: relative;
        display: flex;
        align-items: center;
    }
    .topnav a:hover
    .topnav .btn-area .call-us{
        position: absolute;
    }
    .topnav .btn-area .talks-btn{
        position: absolute;
        color:#ff4934;
        float: left;
        left:62px;
        top:-8px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topnav .btn-area .call-us{
        font-size: 20px;
        font-weight: 600;
        color:#ff4934;
    }
    .topnav .btn-area .call-us .call-btns{
        display: inline-block;
        position: absolute;
        top:3px;
        left:22px;
    
    }
}
@media only screen and (min-width:1100px) and (max-width:1300px){
    .topnav {
        overflow: hidden;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left:25%;
        background-color:#ffffff;
    }
    .topnav .imgbox{
        position: relative;
        
    }
    .dropdown-content{
        display: none;
        position: absolute;
        top:140px;
        background-color: #e1e3ea;;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1
    }
    .topnav .imgbox img{
        position: absolute;
        left:-420px;
        top:-20px;
        
    }
    .topnav .imgbox .toko-text{
        position: absolute;
        font-weight:bold;
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        color:#353535;
        left:-372px;
        top:-20px;
    }
    .topnav .btn-area{
        position: relative;
        display: flex;
        align-items: center;
    }
    .topnav a:hover
    .topnav .btn-area .call-us{
        position: absolute;
    }
    .topnav .btn-area .talks-btn{
        position: absolute;
        color:#d8591b;
        float: left;
        left:90px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topnav .btn-area .call-us{
        font-size: 20px;
        font-weight: 600;
        color:#d8591b;
       
    }
    .topnav .btn-area .call-us .call-btns{
        display: inline-block;
        position: absolute;
        top:4px;
        left:55px;
        color:#d8591b !important;
       
    }
    .topnav .btn-area .call-us .call-btns:hover{
        color:#d8591b !important;
    }
   
}
@media only screen and (min-width:1300px) and (max-width:1600px){
    .topnav {
        overflow: hidden;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left:25%;
        background-color:#ffffff;
    }
    .topnav .imgbox{
        position: relative;  
    }
    .topnav .imgbox img{
        position: absolute;
        left:-500px;
        top:-20px;  
    }
    .dropdown-content{
        display: none;
        position: absolute;
        top:140px;
        background-color: #e1e3ea;;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1
    }
    .topnav .imgbox .toko-text{
        position: absolute;
        font-weight:bold;
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        color:#353535;
        left:-452px;
        top:-20px;

    }
    .topnav .btn-area{
        position: relative;
        display: flex;
        align-items: center;
    }
    .topnav a:hover
    .topnav .btn-area .call-us{
        position: absolute;
        float: left;
        left: 320px;
    }
    .topnav .btn-area .talks-btn{
        position: absolute;
        color:#ffffff;
        float: left;
        left:72%;
        border-radius: 5px;
        width:10px;
        height: 50px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#d8591b;
    }
    .topnav .btn-area .call-us{
        margin-left: 120px;
        font-size: 20px;
        font-weight: 600;
        color:#d8591b;
        position: relative;
    }
    .topnav .btn-area .call-us .call-btns{
        display: inline-block;
        position: absolute;
        top:4px;
        left:-63px;
    }

   
}
@media only screen and (min-width:1600px) and (max-width:2000px){
    .topnav {
        overflow: hidden;
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#000518;
    }
    .topnav .imgbox{
        position: relative; 
    }
    .topnav .imgbox img{
        position: absolute;
        left:-494px;
        top:-20px; 
    }
    .dropdown-content{
        display: none;
        position: absolute;
        top:140px;
        background-color: #e1e3ea;;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1
    }
    .topnav .imgbox .toko-text{
        position: absolute;
        font-weight:bold;
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        color:#ffffff;
        left:-461px;
        top:-20px;
    }
    .topnav .btn-area{
        position: relative;
        display: flex;
        align-items: center;
    }
    .topnav a:hover
    .topnav .btn-area .call-us{
        position: absolute;
        float: left;
        left: 320px;
    }
    .topnav .btn-area .talks-btn{
        position: absolute;
        color:#ffffff;
        float: left;
        left:115%;
        border-radius: 5px;
        width:130px;
        height: 50px;
        background-color: #ff4934;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: width 400ms ease-in-out;
        overflow: hidden;
    }

    .topnav .btn-area .talks-btn:hover::before{
        left:118px;
        transform: rotate(-45deg);
        top:14px;
    }
    .topnav .btn-area .talks-btn:hover::after{
        left:0px;
    }
    .topnav .btn-area .call-us{
        margin-left: 120px;
        font-size: 20px;
        font-weight: 600;
        color:#ffffff;
    }
    .topnav .btn-area .call-us .call-btns{
        padding:10px 15px;
        display: inline-block;
        border-radius: 50%;
        margin-right:6px;
        background-color: #ff4934;
    }
   
}
/*navbar Responsive navbar*/
/*navbar End now*/